{% url 'article:home' as path_to_home %}
{% url 'article:create-article' as path_to_create-article %}
{% url 'article:draft-articles' as path_to_draft-articles %}
{% url 'profiles:profile' as path_to_my_profile %}
{% url 'authentication:login' as path_to_login %}
{% url 'authentication:logout' as path_to_logout %}
{% block content %}
  
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="index.html"><span>Naija</span>Blog</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a href="{% url 'article:home' %}" class="{% if request.path == path_to_home %}active{% endif %}">Home</a></li>          
          {% if request.user.is_authenticated %}
          <li><a href="{% url 'article:create-article' %}" class="{% if request.path == path_to_create_article %}active{% endif %}">Create Article</a></li>
          <li><a href="{% url 'article:draft-articles' %}"  class="{% if request.path == path_to_draft_articles %}active{% endif %}" >Drafts</a></li>
          <li class="dropdown"><a href="#" ><span>Profile</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="{% url 'profiles:profile' %}"  class="{% if request.path == path_to_my_profile %}active{% endif %}" >View Profile</a></li>
  
              <li><a href="{% url 'profiles:update-profile' request.user.profile.slug %}"   >Update Profile</a></li>
            </ul>
          </li>
          <li><a href="{% url 'authentication:logout' %}" class="{% if request.path == path_to_logout %}active{% endif %}">Logout</a></li>       
          {% else %}
          <li><a href="{% url 'authentication:login' %}" class="{% if request.path == path_to_login %}active{% endif %}" >Login</a></li>

          {% endif %}
            

        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <div class="header-social-links d-flex">
        <a href="#" class="twitter"><i class="bu bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bu bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bu bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bu bi-linkedin"></i></i></a>
      </div>

    </div>
  </header><!-- End Header -->
{% endblock content %}
  